/*Macetas*/
.image-container1 {
  max-width: 800px; 
  margin: 50px auto;
.row1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; 
  img {
      max-width: 30%; 
      height: auto;
      border-radius: 10px;
  }
}
}